<!DOCTYPE HTML>
<html lang="en">
<head>
  <style type="text/css">
      .bilibili_shortcodes {
          position: relative;
          width: 100%;
          height: 0;
          padding-bottom: 66%;
          margin: auto;
          overflow: hidden;
          text-align: center;
      }
      /* 嵌入视频的宽高在这里调！ */
      .bilibili_shortcodes iframe {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
      }
  </style>
  <title> 嵌入 Bilibili 视频的页面</title>
</head>
<body>
<div class="bilibili_shortcodes">
  <iframe 
  src="https://player.bilibili.com/player.html?bvid={{.Get 0}}&page={{.Get 1 | default 1}}&high_quality=1&danmaku=0&autoplay=0&as_wide=0" 
  scrolling="no" 
  frameborder="0" 
  allowfullscreen="true">
</iframe>
</div>
</body>
</html>